@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

.profile-photo {
    width: 250px;
    height: 250px;
    object-fit: cover;
    object-position: right;
    border-radius: 50%;
    border-bottom: 4px solid yellow ;
    border-right: 4px solid yellow ;
    border-top: 4px solid blue;
    border-left: 4px solid blue;
}

header {
    background-color: darkgray;
    background-image: url(https://avatars.mds.yandex.net/i?id=6c9bed6478bfa1795acde58286fbd76766da0e06-5163188-images-thumbs&n=13);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    /* background-attachment:fixed; */
    color:white;
}

html {
    font-family: 'Lato', sans-serif;
}
main {
    background-color: aliceblue;
    background-image: linear-gradient(to right, pink,yellow);
}

.slogan {
    font-size: 30px;
}

a {
    color: inherit;
    text-decoration: none;
}

